*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-image: url(plants.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  max-height: fit-content;

  margin: 0px;
  padding: 0px;

  user-select: none;
}


.parent{
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.child{
  width: 33.3333333333%;

  display: flex;
  align-items: center;
  flex-direction: column;
}




.calculator{
  
  width:400px;
  height: fit-content;
  padding: 50px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  margin: 20px 0px;


  border-radius: 10px;
}
@media screen and (max-width:799.98px) {
  .calculator{
    width: 300px;
  }
}
@media screen and (max-width:499.98px) {
  .calculator{
    width: 65vw;
  }
}


.calcResult{
  font-size: 60px;

  width: 100%;
  height: 120px;

  background-color: transparent ;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);

  text-align: left;
}
.calcParent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-top: 30px;
}
.calcChild{
  width: calc(25% - 8px);

  display: flex;
  justify-content: center;
  align-items: center
}
.calcChild div{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1;

  border-radius: 1000px;

  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  font-size: clamp(15px, 1.7cqw, 1.7cqw);
}

.calcChild div:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(103%);
  color: rgba(255, 255, 255, 0.9);

  transition: box-shadow 0.2s, transform 0.1s, color 0.1s;
}
.calcChild div:active{
  box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(99%);

  transition: box-shadow 0.2s, transform 0.05s;
}






/* Random Number Generator */
.random{
  width:400px;
  height: fit-content;
  padding: 50px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  margin: 20px 0px;


  border-radius: 10px;

  color: rgba(255, 255, 255, 0.5);
}
.random form label{
  font-size: clamp(16px, 1.6cqw, 110px);
}
.random form input{
  width: calc(100% - 40px);
  height: 50px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: none;
  outline: none;

  padding: 2px 20px;

  border-radius: 5px;
}
.random form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.randResult{
  width: 100%;
  height: 60px;
  font-size: 30px;
}
#randButton{
  background-color: rgba(52, 82, 41, 0.4);
  border: none;
  font-size: clamp(12px, 1.7cqw, 100px);
  padding: 8px 35px;
  border-radius: 5px;

  color: rgba(255, 255, 255, 0.5);

  margin-top: 20px;
}
#randButton:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(103%);
  color: rgba(255, 255, 255, 0.9);

  transition: box-shadow 0.2s, transform 0.1s, color 0.1s;
}
#randButton:active{
  box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(99%);

  transition: box-shadow 0.2s, transform 0.05s;
}
.random h2{
    font-size: clamp(18px, 1.7cqw, 120px);
}










/* Prime Number Generator */
.prime{
  width:400px;
  height: fit-content;
  padding: 50px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;

  margin: 20px 0px;


  border-radius: 10px;

  color: rgba(255, 255, 255, 0.5);
}
.prime form label{
  font-size: clamp(16px, 1.6cqw, 110px);
}
.prime form input{
  width: calc(100% - 40px);
  height: 50px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: none;
  outline: none;

  padding: 2px 20px;

  border-radius: 5px;
}
.prime form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.primeResult{
  width: 100%;
  height: fit-content;
  font-size: clamp(10px, 1.4cqw, 90px);
  margin: 50px 0px;  
}
#primeButton{
  background-color: rgba(52, 82, 41, 0.4);
  border: none;
  font-size: clamp(12px, 1.7cqw, 100px);
  padding: 8px 35px;
  border-radius: 5px;

  color: rgba(255, 255, 255, 0.5);

  margin-top: 20px;
}
#primeButton:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: scale(103%);
  color: rgba(255, 255, 255, 0.9);

  transition: box-shadow 0.2s, transform 0.1s, color 0.1s;
}
#primeButton:active{
  box-shadow:inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(99%);

  transition: box-shadow 0.2s, transform 0.05s;
}
.prime h2{
    font-size: clamp(18px, 1.7cqw, 120px);
}



















/* Responsive */
@media screen and (max-width: 1499.98px) {
  .calculator, .random, .prime{
    width: 350px;
  }
}

@media screen and (max-width: 1349.98px) {
  .child{
    width: 100%;

  }
  .calculator, .random, .prime{
    width: 400px;
  }
}

@media screen and (max-width:799.98px) {
  .calculator, .random, .prime{
    width: 300px;
  }
  .random form input{
    height: 40px;
    font-size: 15px;
  }
}
@media screen and (max-width:499.98px) {
  .calculator, .random, .prime{
    width: 65vw;
  }
}